
# Large CSV datasets
MCA_R_programming/combined_data.csv
MCA_R_programming/exported_data.csv
MCA_R_programming/filtered_small_file.csv
MCA_R_programming/marks.csv
MCA_R_programming/output.csv
MCA_R_programming/part1.csv
MCA_R_programming/part2.csv
MCA_R_programming/results.csv
MCA_R_programming/small_file.csv
MCA_R_programming/students_2.csv
MCA_R_programming/students.csv
MCA_R_programming_2/missing_col1.csv
MCA_R_programming_3/employee_performance.csv
MCA_R_programming_3/student_scores_gg.csv
MCA_R_programming_3/student_scores.csv
MCA_R_programming_3/Students_Grade.csv
MCA_R_programming_4/city_temperature.csv
MCA_R_programming_5/StudentsPerformance.csv
MCA_R_programming_6/apriori_data.csv
MCA_R_programming_6/grocery_transactions.csv
MCA_R_programming_7/icecream.csv
MCA_R_programming_8/breastCancer.csv
MCA_R_programming_9/Mall_Customers.csv
